# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
/ios
/android
# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
.expo/
ios/Pods/Folly/folly/chrono/
ios/Pods/Folly/folly/poly/
ios/Pods/boost-for-react-native/boost/algorithm/algorithm.hpp
ios/Pods/boost-for-react-native/boost/algorithm/clamp.hpp
ios/Pods/boost-for-react-native/boost/algorithm/cxx11/any_of.hpp
ios/Pods/boost-for-react-native/boost/algorithm/cxx11/copy_if.hpp
ios/Pods/boost-for-react-native/boost/algorithm/cxx11/copy_n.hpp
ios/Pods/boost-for-react-native/boost/algorithm/cxx11/is_sorted.hpp
ios/Pods/boost-for-react-native/boost/algorithm/cxx11/none_of.hpp
ios/Pods/boost-for-react-native/boost/algorithm/cxx11/partition_point.hpp
ios/Pods/boost-for-react-native/boost/algorithm/cxx14/
ios/Pods/boost-for-react-native/boost/algorithm/hex.hpp
ios/Pods/boost-for-react-native/boost/algorithm/string.hpp
ios/Pods/boost-for-react-native/boost/algorithm/string/compare.hpp
ios/Pods/boost-for-react-native/boost/algorithm/string/config.hpp
ios/Pods/boost-for-react-native/boost/algorithm/string/erase.hpp
ios/Pods/boost-for-react-native/boost/algorithm/string/find.hpp
ios/Pods/boost-for-react-native/boost/algorithm/string/join.hpp
ios/Pods/boost-for-react-native/boost/algorithm/string/sequence_traits.hpp
ios/Pods/boost-for-react-native/boost/algorithm/string/yes_no_type.hpp
ios/Pods/boost-for-react-native/boost/archive/
ios/Pods/boost-for-react-native/boost/assign/
ios/Pods/boost-for-react-native/boost/atomic/
ios/Pods/boost-for-react-native/boost/chrono/
ios/Pods/boost-for-react-native/boost/compute/
ios/Pods/boost-for-react-native/boost/concept/
ios/Pods/boost-for-react-native/boost/config/
ios/Pods/boost-for-react-native/boost/context/
ios/Pods/boost-for-react-native/boost/convert/
ios/Pods/boost-for-react-native/boost/detail/
ios/Pods/boost-for-react-native/boost/endian/
ios/Pods/boost-for-react-native/boost/format/
ios/Pods/boost-for-react-native/boost/function/
ios/Pods/boost-for-react-native/boost/fusion/
ios/Pods/boost-for-react-native/boost/geometry/
ios/Pods/boost-for-react-native/boost/integer/
ios/Pods/boost-for-react-native/boost/iterator/
ios/Pods/boost-for-react-native/boost/lambda/
ios/Pods/boost-for-react-native/boost/locale/
ios/Pods/boost-for-react-native/boost/lockfree/
ios/Pods/boost-for-react-native/boost/numeric/
ios/Pods/boost-for-react-native/boost/optional/
ios/Pods/boost-for-react-native/boost/pending/
ios/Pods/boost-for-react-native/boost/phoenix/
ios/Pods/boost-for-react-native/boost/polygon/
ios/Pods/boost-for-react-native/boost/predef/
ios/Pods/boost-for-react-native/boost/python/
ios/Pods/boost-for-react-native/boost/random/
ios/Pods/boost-for-react-native/boost/signals/
ios/Pods/boost-for-react-native/boost/signals2/
ios/Pods/boost-for-react-native/boost/spirit/
ios/Pods/boost-for-react-native/boost/system/
ios/Pods/boost-for-react-native/boost/thread/
ios/Pods/boost-for-react-native/boost/typeof/
ios/Pods/boost-for-react-native/boost/units/base_units/astronomical/
ios/Pods/boost-for-react-native/boost/units/base_units/imperial/pound.hpp
ios/Pods/boost-for-react-native/boost/units/base_units/information/
ios/Pods/boost-for-react-native/boost/units/base_units/temperature/
ios/Pods/boost-for-react-native/boost/units/physical_dimensions/
ios/Pods/boost-for-react-native/boost/utility/
ios/Pods/boost-for-react-native/boost/variant/
